{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sobre Nós</title>
        <link>
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&display=swap"/
        <link rel="stylesheet" href="css/pages/about_us.css" />
</head>

<body>
        <div class="main-container">
                <header class="header">
                        <a href="#" class="logo">
                                <img src="./assets/images/logo.png" alt="Logo Padaria Massas Paraná" />
                        </a>
                        <nav class="menu">
                                <a href="home.html" class="menu-item">Home</a>
                                <a href="produtos.html" class="menu-item">Produtos</a>
                                <a href="contato.html" class="menu-item">Contato</a>
                                <a href="sobre-nos.html" class="menu-item active">Sobre Nós</a>
                                <button class="entrar">Entrar</button>
                        </nav>
                </header>

                <main class="corpo">
                        <section class="introducao">
                                <p class="texto-introducao">
                                        Na Massas Parana, cada pedaço é uma experiência única. Mergulhe no sabor e na tradição de nossos produtos artesanais, onde a paixão pela panificação transforma cada momento em algo inesquecível.
                                </p>
                        </section>

                        <section class="sobre-nos">
                                <div class="conteudo">
                                        <img src="./assets/images/foto-padaria.jpg" alt="Foto da padaria" />
                                        <p>
                                        Desde a nossa fundação, nossa padaria tem sido um refúgio para os amantes de boas experiências gastronômicas. Com um compromisso inabalável com a qualidade e a autenticidade, criamos pães, bolos e doces que não apenas satisfazem, mas encantam.
                                        </p>
                                </div>
                        </section>

                        <section class="equipe">
                                <p>
                                Na Padaria Massas Paraná, acreditamos que a excelência no atendimento e a qualidade dos nossos produtos começam com a nossa equipe dedicada e talentosa. Com um time composto por 15 profissionais, cada um desempenha um papel fundamental na criação de uma experiência única para nossos clientes.
                                </p>
                        </section>
                </main>
        </div>
</body>
</html>