<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
        {% load static %}
        <link
            rel="stylesheet"
            href="{% static 'css/components/bnt_submit.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/pages/homepage.css' %}" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <div class="homepage">
        <img
          class="pao-fresco-de-vista-frontal"
          src="pao-fresco-de-vista-frontal0.png"
        />
        <img
          class="front-view-delicious-chocolate-cake-concept"
          src="front-view-delicious-chocolate-cake-concept0.png"
        />
        <div class="bolos">BOLOS</div>
        <img
          class="high-angle-food-croquettes-arrangement"
          src="high-angle-food-croquettes-arrangement0.png"
        />
        <div class="salgados">SALGADOS</div>
        <div class="rectangle-36"></div>
        <div class="venha-fazer-parte-da-nossa-equipe">
          Venha fazer parte da nossa equipe
        </div>
        <div class="rectangle-42"></div>
        <div
          class="acreditamos-que-pessoas-fazem-a-diferen-a-venha-fazer-a-diferen-a-com-a-gente"
        >
          Acreditamos que pessoas fazem a diferença! Venha fazer a diferença com a
          gente.
          <br />
        </div>
        <div class="rectangle-43"></div>
        <div class="junte-se-a-n-s">Junte-se a nós</div>
        <div class="conhe-a-mais">Conheça mais</div>
        <div class="compromisso-com-a-qualidade">COMPROMISSO COM A QUALIDADE</div>
        <div class="p-es">PÃES</div>
        <img class="images-1" src="images-10.png" />
        <div class="fabrica-o-pr-pria-com-reposi-o-di-ria">
          Fabricação própria com reposição diária
        </div>
        <div
          class="dedicamos-a-proporcionar-a-voc-uma-experi-ncia-nica-com-produtos-de-panifica-o-e-confeitaria-de-alt-ssima-qualidade-nossos-p-es-e-doces-s-o-produzidos-diariamente-com-ingredientes-frescos-e-priorizamos-a-excel-ncia-em-cada-detalhe-desde-a-sele-o-dos-ingredientes-at-o-atendimento-ao-cliente"
        >
          Dedicamos a proporcionar a você uma experiência única com produtos de
          panificação e confeitaria de altíssima qualidade.
          <br />
          Nossos pães e doces são produzidos diariamente com ingredientes frescos; e
          priorizamos a excelência em cada detalhe, desde a seleção dos ingredientes
          até o atendimento ao cliente.
          <br />
        </div>
        <div class="venha-fazer-parte-da-nossa-equipe2">
          Venha fazer parte da nossa equipe
        </div>
        <div class="uma-experi-ncia-nica">Uma experiência única</div>
        <img
          class="screenshot-20240830-225301-1"
          src="screenshot-20240830-225301-10.png"
        />
        <div class="rectangle-41"></div>
        <div class="venha-visitar">Venha Visitar!</div>
        <div
          class="na-massas-paran-unimos-tradi-o-e-inova-o-para-criar-p-es-e-doces-que-fazem-toda-a-diferen-a-no-seu-dia-a-dia-nossos-produtos-s-o-preparados-com-ingredientes-selecionados-garantindo-frescor-e-sabor-incompar-veis-visite-nos-e-descubra-um-espa-o-pensado-para-proporcionar-a-voc-momentos-deliciosos-e-inesquec-veis"
        >
          Na Massas Paraná, unimos tradição e inovação para criar pães e doces que
          fazem toda a diferença no seu dia a dia. Nossos produtos são preparados com
          ingredientes selecionados, garantindo frescor e sabor incomparáveis.
          Visite-nos e descubra um espaço pensado para proporcionar a você momentos
          deliciosos e inesquecíveis!
        </div>
        <img class="image-5" src="image-50.png" />
        <div class="surpreenda-se">Surpreenda-se</div>
        <div class="rectangle-55"></div>
        <div class="conhe-a">Conheça</div>
        <div class="i-love">I LOVE</div>
        <div class="cake">CAKE</div>
        <div class="olaa-1">
          <img class="vector" src="vector0.svg" />
          <img class="vector2" src="vector1.svg" />
          <img class="rectangle" src="rectangle0.png" />
          <div class="olaa-1-1">
            <img class="vector3" src="vector2.svg" />
            <img class="vector4" src="vector3.svg" />
            <img class="rectangle2" src="rectangle1.png" />
          </div>
        </div>
        <div class="olaa-1-12">
          <img class="vector5" src="vector4.svg" />
          <img class="vector6" src="vector5.svg" />
          <img class="rectangle2" src="rectangle2.png" />
        </div>
        <div class="rectangle-68"></div>
        <div class="rectangle-69"></div>
        <div class="olaa-2-1">
          <img class="vector7" src="vector6.svg" />
          <img class="vector8" src="vector7.svg" />
          <img class="rectangle3" src="rectangle3.png" />
        </div>
        <img class="rectangle-13" src="rectangle-130.svg" />
        <div class="frame-1">
          <div class="rectangle-12"></div>
          <img class="logo" src="logo0.svg" />
          <div class="group-1">
            <div class="produtos">Produtos</div>
            <div class="sobre-n-s">Sobre Nós</div>
            <div class="home">Home</div>
            <div class="contato">Contato</div>
            <img class="vector9" src="vector8.svg" />
            <img class="vector10" src="vector9.svg" />
            <img class="group2" src="group4.svg" />
            <img class="vector11" src="vector10.svg" />
            <img class="vector12" src="vector11.svg" />
            <img class="vector13" src="vector12.svg" />
          </div>
          <div class="group-3">
            <div class="rectangle-21"></div>
            <img class="vector14" src="vector13.svg" />
            <div class="entrar">Entrar</div>
          </div>
          <div class="com-carinho-e-tradi-o-fazemos-o-seu-caf-perfeito-todos-os-dias">
            Com carinho e tradição, fazemos o seu café perfeito todos os dias.
          </div>
        </div>
      </div>
    </body>
</html>   
    
    
    