<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Massas Paraná</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/components/bnt_submit.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'img/logo_name.png' %}" alt="Massas Paraná Logo">
        </div>
        <div class="login-container">
            <h2>Login</h2>

            <!-- Exibe mensagens de sucesso ou erro -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Renderiza o formulário Django -->
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                
                <!-- Campo de email -->
                <div class="input-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <img src="{% static 'img/icons/email.svg' %}" alt="" class="input-icon">
                    {% if form.email.errors %}
                        <ul class="error-list">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <!-- Campo de senha -->
                <div class="input-group">
                    {{ form.senha.label_tag }}
                    {{ form.senha }}
                    <img src="{% static 'img/icons/senha.svg' %}" alt="" class="input-icon">
                    {% if form.senha.errors %}
                        <ul class="error-list">
                            {% for error in form.senha.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <!-- Esqueci minha senha -->
                <a href="{% url 'password_reset' %}" class="forgot-password">Esqueci minha senha</a>
                
                <!-- Botão de Login -->
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                <button type="submit" class="submit-btn">Entrar</button>
            </form>
            
            <!-- Link para criar uma conta -->
            <a href="{% url 'register' %}" class="create-account">Não tem uma conta? Crie agora!</a>
        </div>
    </div>
    <script src="{% static 'js/bnt_submit.js'%}"></script>
</body>
</html>
