{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos</title>
  <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
<div class="produtos">
    <div class="rectangle-12"></div>
    <div class="rectangle-11"></div>
    <img class="_3-1-1" src="_3-1-10.png" />
    <div class="rectangle-13"></div>
    <div class="rectangle-14"></div>
    <div class="produtos2">PRODUTOS</div>
    <div class="rectangle-15"></div>
    <div class="rectangle-16"></div>
    <div class="rectangle-17"></div>
    <div class="rectangle-18"></div>
    <div class="rectangle-19"></div>
    <div class="bolos">BOLOS</div>
    <div class="rectangle-26"></div>
    <div class="rectangle-27"></div>
    <img class="logo" src="logo0.svg" />
    <div class="group-1">
      <div class="produtos3">Produtos</div>
      <div class="sobre-n-s">Sobre Nós</div>
      <div class="home">Home</div>
      <div class="contato">Contato</div>
      <img class="vector" src="vector0.svg" />
      <img class="vector2" src="vector1.svg" />
      <img class="group" src="group0.svg" />
      <img class="vector3" src="vector2.svg" />
      <img class="vector4" src="vector3.svg" />
      <img class="vector5" src="vector4.svg" />
    </div>
    <div class="group-3">
      <div class="rectangle-21"></div>
      <img class="vector6" src="vector5.svg" />
      <div class="entrar">Entrar</div>
    </div>
    <div class="group-1">
      <div class="produtos3">Produtos</div>
      <div class="sobre-n-s">Sobre Nós</div>
      <div class="home">Home</div>
      <div class="contato">Contato</div>
      <img class="vector7" src="vector6.svg" />
      <img class="vector8" src="vector7.svg" />
      <img class="group2" src="group1.svg" />
      <img class="vector9" src="vector8.svg" />
      <img class="vector10" src="vector9.svg" />
      <img class="vector11" src="vector10.svg" />
    </div>
    <div class="group-3">
      <div class="rectangle-21"></div>
      <img class="vector12" src="vector11.svg" />
      <div class="entrar">Entrar</div>
    </div>
    <div class="bolo-fofo-tradicional">Bolo Fofo Tradicional</div>
    <div class="bolo-de-lim-o-com-cobertura-de-leite-de-coco">
      Bolo de Limão com Cobertura de Leite de Coco
    </div>
    <div class="bolo-de-chocolate">Bolo de Chocolate</div>
    <div class="bolo-de-morango-e-rom">Bolo de Morango e Romã</div>
    <div class="bolo-de-anirves-rio-tradicional">
      Bolo de Anirvesário Tradicional
    </div>
    <div class="rectangle-212"></div>
    <div class="rectangle-22"></div>
    <div class="rectangle-23"></div>
    <div class="rectangle-24"></div>
    <img class="clip-path-group" src="clip-path-group0.svg" />
    <img class="clip-path-group2" src="clip-path-group1.svg" />
    <img class="group3" src="group2.svg" />
    <img class="clip-path-group3" src="clip-path-group2.svg" />
    <img class="clip-path-group4" src="clip-path-group3.svg" />
    <div class="bolos2">BOLOS</div>
    <div class="p-es">PÃES</div>
    <div class="salgados">SALGADOS</div>
    <div class="doces">DOCES</div>
    <div class="bebidas">BEBIDAS</div>
    <div class="rectangle-45"></div>
    <div class="encomendar-aogra">Encomendar Aogra!</div>
    <div class="rectangle-452"></div>
    <div class="adicionar-ao-carrinho">Adicionar ao Carrinho!</div>
    <div class="rectangle-453"></div>
    <div class="encomendar-agora">Encomendar Agora!</div>
    <div class="rectangle-454"></div>
    <div class="adicionar-ao-carrinho2">Adicionar ao Carrinho!</div>
    <div class="rectangle-455"></div>
    <div class="encomendar-agora2">Encomendar Agora!</div>
    <div class="rectangle-456"></div>
    <div class="adicionar-ao-carrinho3">Adicionar ao Carrinho!</div>
    <div class="rectangle-457"></div>
    <div class="encomendar-agora3">Encomendar Agora!</div>
    <div class="rectangle-458"></div>
    <div class="adicionar-ao-carrinho4">Adicionar ao Carrinho!</div>
    <div class="rectangle-459"></div>
    <div class="encomendar-agora4">Encomendar Agora!</div>
    <div class="rectangle-4510"></div>
    <div class="adicionar-ao-carrinho5">Adicionar ao Carrinho!</div>
    <div class="r-16-99">
      R$ 16,99
      <br />
      <br />
    </div>
    <div class="r-25-00">
      R$ 25,00
      <br />
    </div>
    <div class="r-30-00">
      R$ 30,00
      <br />
    </div>
    <div class="r-30-002">
      R$ 30,00
      <br />
    </div>
    <div class="r-50-00">
      R$ 50,00
      <br />
    </div>
    <div
      class="nossos-produtos-s-o-frecos-e-de-produ-o-di-ria-dessa-forma-s-aceitamos-encomendas-e-pedidos-para-buscar-em-nossa-loja-fisica"
    >
      NOSSOS PRODUTOS SÃO FRECOS E DE PRODUÇÃO DIÁRIA, DESSA FORMA, SÓ ACEITAMOS
      ENCOMENDAS E PEDIDOS PARA BUSCAR EM NOSSA LOJA FISICA
    </div>
    <img class="baners" src="baners0.svg" />
  </div>
  