<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Massas Paraná</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">
</head>
<body>
    <div class="container">
        <div class="profile-container">
            <h2>Bem-vindo, {{ user_name }}!</h2>  <!-- Exibe o nome do usuário -->
            <p>Email: {{ user_email }}</p>  <!-- Exibe o email do usuário -->

            <a href="{% url 'logout' %}" class="logout-btn">Sair</a>
        </div>
    </div>
</body>
</html>
