<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Massas Paraná</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/components/bnt_submit.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'img/logo_name.png' %}" alt="Massas Paraná Logo">
        </div>
        <div class="login-container">
            <h2>Login</h2>
            <!-- Renderiza o formulário Django -->
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                
                <!-- Email Field -->
                <div class="input-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <img src="{% static 'img/icons/email.svg' %}" alt="" class="input-icon">
                    {{ form.email.errors }}  <!-- Exibe os erros do campo email -->
                </div>
                
                <!-- Password Field -->
                <div class="input-group">
                    {{ form.senha.label_tag }}
                    {{ form.senha }}
                    <img src="{% static 'img/icons/senha.svg' %}" alt="" class="input-icon">
                    {{ form.senha.errors }}  <!-- Exibe os erros do campo senha -->
                </div>
                
                <!-- Esqueci minha senha -->
                <a href="{% url 'password_reset' %}" class="forgot-password">Esqueci minha senha</a>
                
                <!-- Botão de Login -->
                <button type="submit" class="submit-btn">Entrar</button>
            </form>
            
            <!-- Link de criação de conta -->
            <a href="{% url 'register' %}" class="create-account">Não tenho uma conta. Crie agora!</a>
        </div>
    </div>
    <script src="{% static 'js/bnt_submit.js'%}"></script>
</body>
</html>
