<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Perfil Cliente</title>
  </head>
  <body>
    <div class="perfil-cliente">
      <div class="div">
        <div class="overlap"><img class="logo" src="img/logo.png" /></div>
        <div class="sumario-dados">
          <div class="text-wrapper">Olá, Cliente!</div>
          <div class="text-wrapper-2">Dados pessoais</div>
          <div class="text-wrapper-3">Pedidos</div>
          <div class="text-wrapper-4">Cartões</div>
          <div class="text-wrapper-5">Sair</div>
        </div>
        <div class="overlap-group">
          <div class="group">
            <div class="ol-usu-rio">Olá.<br />(Usuário)</div>
          </div>
          <div class="sumario">
            <div class="navbar-wrapper">
              <div class="navbar">
                <div class="text-wrapper-6">Produtos</div>
                <div class="text-wrapper-7">Sobre Nós</div>
                <div class="text-wrapper-8">Home</div>
                <div class="text-wrapper-9">Contato</div>
                <img class="vector" src="img/vector-carrinho.svg" />
                <img class="img" src="img/vector-facebook.svg" />
                <img class="group-2" src="img/group.png" />
                <img class="vector-2" src="img/vector-2.svg" />
                <div class="overlap-group-2">
                  <img class="vector-3" src="img/image.svg" /> <img class="vector-4" src="img/vector-3.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="ol-usu-rio-2">Olá.<br />(Usuário)</div>
          </div>
          <div class="sumario">
            <div class="navbar-wrapper">
              <div class="navbar">
                <div class="text-wrapper-6">Produtos</div>
                <div class="text-wrapper-7">Sobre Nós</div>
                <div class="text-wrapper-8">Home</div>
                <div class="text-wrapper-9">Contato</div>
                <img class="vector" src="img/vector-7.svg" />
                <img class="img" src="img/vector-6.svg" />
                <img class="group-2" src="img/image.png" />
                <img class="vector-2" src="img/vector.svg" />
                <div class="overlap-group-2">
                  <img class="vector-3" src="img/vector-4.svg" /> <img class="vector-4" src="img/vector-8.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dados-pessoais">
          <div class="overlap-group-3">
            <div class="group-3">
              <div class="text-wrapper-10">Dados pessoais</div>
              <div class="rectangle"></div>
            </div>
            <div class="text-wrapper-11">Nome</div>
            <div class="text-wrapper-12">Email</div>
            <div class="text-wrapper-13">CPF</div>
            <div class="text-wrapper-14">Data de nascimento</div>
            <div class="text-wrapper-15">Sobrenome</div>
            <div class="text-wrapper-16">Gênero</div>
            <div class="text-wrapper-17">Telefone</div>
          </div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-18">EDITAR</div></div>
        <div class="overlap-2"><div class="text-wrapper-19">SALVAR E CONTINUAR</div></div>
      </div>
    </div>
  </body>
</html>
